// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    margin: 0;
    padding: 0;
  }

  .jumbotron { 
    height: 850px;
    background:url(top-background.jpg) center no-repeat; 
    background-size: cover;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;

  }
.display-1{
  font-family: 'Arial Black';
  font-weight: bold;
  font-size: 70px;
  color: rgba(0, 0, 0, 0);
  text-shadow: 3px 3px 0 whitesmoke;
  -webkit-text-stroke: 2px black;
  text-shadow: 1px #888;
  padding: 0 0 10px;
}
.lead{
  color: black;
  font-family: '游明朝体+36ポかな'
}
.abouttitle{ 
    position: relative;
    padding: 1.5rem;
    text-align: center;
    font-family:'ヒラギノ丸ゴ ProN'
}
  
.abouttitle:before {
    position: absolute;
    bottom: -5px;
    left: calc(50% - 30px);
    width: 60px;
    height: 5px;
    content: '';
    border-radius: 3px;
    background: red;
  }

.aboutartical{
  margin-top: 2rem;
  text-align:center
}

.card{
  margin:2rem;
}

.aboutartical2{
  margin-top: 2rem;
  text-align:center
}
.guide{
  height: 250px;
  width: 100%;
  margin: auto;
  font-family:'ヒラギノ丸ゴ ProN';
  background-color: #f2a154;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
}
.button{
  display: flex; 
  align-items: center; 
  justify-content: center; 
}